
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <span class="navbar-brand" >  
    <i class="fa fa-bars" aria-hidden="true"></i> Menu
  </span>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item  <%= 'active' if current_page?(api_v1_contacts_path)%> ">
      <%= link_to 'Contacts', api_v1_contacts_path, class: 'nav-link'  %>
    </li>
  </ul>
</nav>
<br>
